.slotted {
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow:
    0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
    0 16px 32px rgba(var(--gray), 33%);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 1rem 0;
    color: rgb(var(--black));
    /* line-height: 1.4; */
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.6em;
  }
  h5 {
    font-size: 1.25em;
  }
  strong,
  b {
    font-weight: 700;
  }
  a {
    color: var(--accent);
  }
  a:hover {
    color: var(--accent);
  }
  p {
    margin-bottom: 1em;
  }
  .prose p {
    margin-bottom: 2em;
  }
  textarea {
    width: 100%;
    font-size: 16px;
  }
  input {
    font-size: 16px;
  }
  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 1em 0;
  }

  code {
    padding: 2px 4px;
    background-color: rgb(var(--gray-light));
    border-radius: 4px;
  }

  pre {
    padding: 1.5em;
    border-radius: 8px;
    margin: 1em 0;
  }

  pre > code {
    all: unset;
  }

  blockquote {
    border-left: 4px solid var(--accent);
    padding: 0 0 0 20px;
    margin: 0px;
    font-size: 1.333em;
  }

  hr {
    border: none;
    border-top: 1px solid rgb(var(--gray-light));
  }

  ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
  }

  table {
    position: relative; /* Needed for sticky headers */

    width: 100%;

    table-layout: fixed; /* Uses first row to size. This renders faster for regular tables. */
    border-spacing: 0;
    border-collapse: separate;
  }

  th,
  td {
    padding: 0.5em;

    border-width: 0.5px;
    border-style: solid solid none none;
    border-color: #ccc;

    text-align: left;

    font-variant-numeric: tabular-nums; /* Size numbers so they’re easy to compare across rows. */
  }

  thead > tr > th:first-of-type,
  tbody > tr > *:first-child {
    border-left-style: solid;
  }

  thead th[scope="column"] {
    position: sticky; /* Fixed headers */
    z-index: 10;
    top: -1px; /* Compensate for the top border so there’s no gap when sticky. */

    background-color: #eee;
  }

  tbody > tr:last-of-type > * {
    border-bottom-style: solid;
  }
  /* Clear the border for when there’s a zero-padding wrapper */
  thead > tr > th {
    border-top-style: none;
  }

  tr > *:last-child {
    border-right-style: none;
  }

  thead > tr > th:first-of-type,
  tbody > tr > *:first-child {
    border-left-style: none;
  }

  tbody > tr:last-of-type > * {
    border-bottom-style: none;
  }

  @media (prefers-color-scheme: dark) {
    --accent: #9da5fa;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #ffffff;
    }

    code {
      padding: 2px 5px;
      background-color: rgb(var(--gray-light));
      color: rgb(var(--gray-dark));
      border-radius: 2px;
    }
  }
}
