---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

interface Props {
  post: CollectionEntry<"blog">;
  lazyLoad: boolean;
}

const { post, lazyLoad } = Astro.props;
---

<li class="group w-full md:w-[calc(50%-1rem)]">
  <a class="no-underline hover:underline" href={`/blog/${post.slug}/`}>
    {
      post.data.heroImage && (
        <Image
          width={720}
          height={360}
          src={post.data.heroImage}
          loading={lazyLoad ? "lazy" : "eager"}
          alt=""
          class="group-hover:border-border shadow-accent mb-2 aspect-video rounded-lg border border-transparent transition-all group-hover:shadow-md md:mb-4"
        />
      )
    }

    <h4 class="m-0 text-2xl">
      {post.data.title}
    </h4>

    <p class="text-muted-foreground">
      <FormattedDate date={post.data.pubDate} />
    </p>
  </a>
</li>
