---
import Image from "astro/components/Image.astro";

interface Props {
  name: string;
  svg: string;
  className: string;
  href: string;
}

const { name, svg, className, href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  class:list={[
    "bg-card flex flex-row items-center justify-center gap-2 rounded-lg border p-2 transition-all hover:shadow-sm",
    className,
  ]}
>
  <Image width={24} height={24} src={`/${svg}.svg`} alt={`${name} icon`} />
  <p>{name}</p>
</a>
